body {
  background-color: #fffbf1;
  font-size: 20px;
}

a {
  font-family: 'Roboto', sans-serif;
  color: #ede9de;
  text-decoration: none;
}

.root {
background-color: #DADED4;
margin: 0rem .5rem;
height: 85vh;
padding: 1rem;
}

.nav {
background-color: #A3BCB6;
color: #fff;
font-family: 'Lora', serif;
font-size: 2rem;
font-weight: 700;
margin: 1rem .5rem 0rem .5rem;
padding: .15rem;
}

nav p {
padding-left: 1.25rem;
}

.footer {
background-color: #A3BCB6;
color: #fff;
font-size: .9rem;
font-family: 'Roboto', sans-serif;
margin: 0rem .5rem 1rem .5rem;
padding: .5rem;
text-align: center;
}