body {
  background-color: #fffbf1;
  font-size: 20px;
}

a {
  font-family: 'Roboto', sans-serif;
  color: #ede9de;
  text-decoration: none;
}

.game {
background-color: #DADED4;
margin: 0rem .5rem;
height: 75vh;
padding: 1rem;
}

.inner-game {
  background-color: transparent;
  width: 50%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: transparent;
  padding: 10px
}

.img {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  padding: .5rem;
}

.img-blank {
  background-color: #A3BCB6;
  background-size: contain;
  border: 1px solid #39603D;
  border-radius: 15px;
  height: 8rem;
  width: 8rem;
  padding: .5rem;
  margin: .5rem;
}

.nav {
background-color: #A3BCB6;
display: flex;
justify-content: space-between;
color: #fff;
font-family: 'Lora', serif;
font-size: 2rem;
font-weight: 700;
margin: 1rem .5rem 0rem .5rem;
padding: .1rem;
}

.left {
padding-left: 1.25rem;
}

.right {
  padding-right: 1.25rem;
}

.footer {
background-color: #A3BCB6;
color: #fff;
font-size: .9rem;
font-family: 'Roboto', sans-serif;
margin: 0rem .5rem 1rem .5rem;
padding: .25rem;
text-align: center;
}